@import "variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    height: 90px;
    width: 100%;
    background-color: $yellow;
    nav{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        #btn-menu{
            display: none;
        }
        .lbl-menu{
            #spn2{
                top: 12px;
            }
            #spn3{
                top: 23px;
            }
        }
        ul{
            max-width: 100%;
            height: 90px;
            display: flex;
            list-style: none;
            li{
                font-size: 1.25em;
                margin: 30px 10px 30px;
                display: inline-block;
                a{
                    color: black;
                    border-bottom: 3px solid transparent;
                    margin-right: 5px;
                    transition: all 0.4s ease;
                    font-size: 26px;
                    padding: 7px 13px;
                    text-decoration: none;
                    margin-right: 20px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 900;
                    &:hover{
                        color: black;
                        transition: .4s;
                        border-bottom: 2px solid white;
                        padding-bottom: 5px;
                    }
                }
            }
        }
        button{
            border: none;
            background-color: #edb026;
            a{
                i{
                    color: black;
                    border: solid black 2px;
                    border-radius: 100%;
                    padding: 20px;
                    margin-right: 40px;
                    margin-top: 5px;
                    font-size: 25px;
                    &:hover{
                    color: white;
                    border: white 2px solid;
                    transition: all .3s ease;
                    }
                }
            }
        }
    }
}
/*BTN*/

.nav__a{
    .logo{
        position: absolute;
        width: 320px;
        top: -50px;
        left: -40px;
        z-index: 4;
    }
}

.lbl-menu{
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
	transform: scale(1.2);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
.lbl-menu #spn1,#spn2,#spn3{
    position: absolute;
    content: '';
    background:black;
    width: 40px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
}


#btn-menu:checked ~ .lbl-menu #spn1{
    transform: rotate(140deg);
    top: 10px;
}
#btn-menu:checked ~ .lbl-menu #spn2{
    opacity: 0;
}
#btn-menu:checked ~ .lbl-menu #spn3{
    transform: rotate(-140deg);
    top: 10px;
}
















