.sizes{
    width: 100%;
    z-index: 1;
    margin-top: 90px;
}
.body-index{
    background-color: $blackbg-index;
}
.section__index__history{
    background-color: $blackbg-index;
    .section__index{
        display: flex;
        .texto-history{
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & ::-webkit-scrollbar{
                background-color: $blackbg-index;
                width: 10px;
            }
            & ::-webkit-scrollbar-thumb{
                background-color:$yellow;
                border-radius: 0;
            }
        
            h2{
                font-family: 'Poppins', sans-serif; 
                font-weight: 300;
                color: white;
                font-size: 50px;
                padding-top: 28px;
                padding-bottom: 30px;
            }
            .text__p{
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                line-height: 30px;
                color: $whitecl;
                width: 70%;
                height: 400px;
                margin-bottom: 50px;
                padding-right: 20px;
                overflow-y: scroll;

            }
        }
        .image-history{
            img{
                width: 100%;
            }
        }
    }
}

.img-prueba{
    width: 100%;
}
.map{
    width: 98%;
    height: 400px;
    margin: 15px 1%;
    box-shadow: 0 0 5px black;
}
.text-index-iframe{
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $blackbg-index;
    p{
        color: white;
        font-size: 20px;
        text-align: center;
        width: 90%;
        
    }
    h2{
        color: white;
        font-weight: 400;
        margin: 20px 0;
        font-size: 50px;
        text-align: center;
    }
}