.sizes{
    width: 100%;
}
.section__index__history{
    background-color: $blackbg-index;
    .section__index{
        display: flex;
        .texto-history{
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            & ::-webkit-scrollbar{
                background-color: $blackbg-index;
                width: 10px;
            }
            & ::-webkit-scrollbar-thumb{
                background-color:$yellow;
                border-radius: 0;
            }
        
            h2{
                font-family: 'Dancing Script', cursive;
                color: white;
                font-size: 50px;
                padding-top: 28px;
                padding-bottom: 30px;
            }
            .text__p{
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                line-height: 30px;
                color: $whitecl;
                width: 70%;
                height: 400px;
                margin-bottom: 50px;
                padding-right: 20px;
                overflow-y: scroll;

            }
        }
        .image-history{
            img{
                width: 100%;
            }
        }
    }
}
