.sizes{
    width: 100%;
}
.section__index__history{
    background-color: $blackbg-index;
    .section__index__grid{
        display: grid;
        grid-template-columns: 1fr 900px;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "texto-history image-history";
        
        .texto-history{
            grid-template-areas: texto-history;
            display: flex;
            flex-direction: column;
            justify-self: center;
            & ::-webkit-scrollbar{
                background-color: $blackbg-index;
                width: 10px;
            }
            & ::-webkit-scrollbar-thumb{
                background-color:$yellow;
                border-radius: 0;
            }
        }
            h2{
                font-family: 'Dancing Script', cursive;
                color: white;
                text-align: center;
                font-size: 50px;
                padding-top: 28px;
                padding-bottom: 30px;
            }
            .text__p{
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                line-height: 30px;
                color: $whitecl;
                width: 655px;
                height: 500px;
                overflow-y: scroll;
                padding: 10px 60px;

            }
        .image-history{
            grid-template-areas: image-history;
            img{
                width: 100%;
            }
        }
    }
}







