.content-locals{
    .button-name{
        width: 100%;
        background-color: transparent;
        border: none;
        transition: .3s ;
        color: black;
        font-size: 30px;
        font-weight: 400;
        padding:10px;
        margin-bottom: 15px;
        &:hover{
            background-color: #edb026;
            color: white;
        }
    }
}
.img-locales{
    width: 100%;
    margin-top: 90px;
}
.text-locales{
    h3{
        font-family: 'Poppins', sans-serif; 
        font-size: 50px;
        text-align: center;
        margin-top: 20px;
    }
    p{
        font-family: 'Poppins', sans-serif; 
        font-size: 16px;
        margin: 0 20px;
        text-align: center;
        width: 70%;
        margin: 0 15%;
    }
    h4{
        font-family: 'Poppins', sans-serif; 
        font-weight: 400;
        font-size: 22px;
        padding: 30px 0px;
        margin: 0 20px;
        text-align: center;
    }
}

.width{
    width: 80%;
    max-width: 100%;
    margin:auto;
}
.modal-content{
    background-color: rgb(234, 229, 206);
}
.modal-header{
    display: flex;
    justify-content: center;
}
.modal-body p{
    font-size: 20px;
    text-align: center;
    font-family: 'Scheherazade New', serif;
}
.modal-body h3{
    text-align: center;
    font-size: 3em;
    color: rgb(177, 168, 125);
    font-family: 'Lora', serif;
    font-weight: 400;
}
.pilar{
    width: 80%;
    margin: 20px 10%;
}

.modal-body iframe{
    width: 100%;
    height: 400px;
}
.nordelta{
    max-width: 100%;
    width: 100%;
    height: 400px;
    margin-left: 0;
}
.close{
    display: flex;
    justify-content: center;
}
.close .misc{
    width: 8%;
}
.misc--active{
    margin-bottom: 15px;
}
.separador{
    width: 100%;
}
.modal-footer{
    border: none;
}