.div-intro-nosotros{
    #fixing-burguer{
        width: 100%;
        margin-top: 90px;
    }
}
.main-nosotros{
    font-family: 'Poppins', sans-serif; 
}
.container-nosotros{
    .box-nosotros{
        margin-left: 10%;
        margin-right: 10%;
        .text-nosotros{
            h3{
                font-size: 50px;
                margin-top: 90px;
                font-family: 'Poppins', sans-serif; 
                font-weight: 300;
            }
            p{
                margin-top: 15px;
                font-size: 20px;
                margin-bottom: 25px;
                font-weight: 300;
            }
            h5{
                font-size: 25px;
                margin-bottom: 25px;
                font-weight: 300;
            }
            h4{
                font-size: 30px;
                margin-top: 80px;
                font-weight: 400;
            }
        }
        .div-img-nosotros{
            .img-nosotros{
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 0 20px 0 rgba(41, 41, 41, 0.406);
            }
            .last{
                margin-bottom: 30px;
            }
        }
    }
}