$width:100%;
$height:90vh;

//Colors
$yellow:#edb026;

//Footer
$redbg:#e91e63;
$whitecl:#ffffff;
$black:black;
$greycl:#bbbbbb;
$iconsbg:rgba(255, 255, 255, 0.2);

//form
$bluebg-form:#24303c;
$blueborder-form:#1f53c5;
$bluesent-form:#1b3f8d;

//index
$blackbg-index:rgb( 33, 31, 32);

//menu
$whitebg-menu:rgba(221, 221, 221, 0.952);
$greycl-menu:rgb(78, 77, 77);

//take
$whiteborder-take:rgb(211, 211, 211);
$pinkborder-take:rgb(252, 127, 127);